.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 7px 29px 0 hsl(240deg 5% 41% / 20%);
  z-index: 999;
  width: 100%;
}

.header-logo {
  width: 50px;
  margin: 20px;
}
.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-link {
  margin: 0 30px;
  font-family: "Roboto";
  color: var(--color-highlight);
  font-size: 12px;
}

@media (min-width: 769px) {
  .nav-link {
    font-size: 17px;
  }
}
