.paypal-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paypal-message {
  color: var(--color-highlight);
  font-size: xx-large;
  text-align: center;
}

.paypal-amount {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#amount {
  color: var(--color-text);
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 50px;
}

select {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  margin-left: 5px;
}
